.App {
    width: 100%;
  background-color: black;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

ul.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.navbar {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
li.nav-item {
    margin: 5px;
    padding: 2px;
}
li.left-link {
    float: left;
}
li.right-link {
    float: right;
}
a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: larger;
    display: block;
    border: solid;
    border-radius: 12px;
    border-color: #FF8959;
    background-color: #FF8959;
    transition: all .2s linear;
}
a:hover {
    background-color: blue;
    border-color: blue;
}

button {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: larger;
    border: solid;
    border-radius: 12px;
    border-color: #FF8959;
    background-color: #FF8959;
    transition: all .2s linear;
}
button:hover {
    background-color: blue;
    border-color: blue;
}
button.moderation-approve {
    font-weight: bold;
    margin: 5px;
    color: #118400;
    border-color: #118400;
    background-color: #ffffff;
    transition: all .2s linear;
}
button.moderation-approve:hover {
    background-color: #118400;
    color: #ffffff;
}
button.moderation-reject {
    font-weight: bold;
    margin: 5px;
    color: #be0000;
    border-color: #be0000;
    background-color: #ffffff;
    transition: all .2s linear;
}
button.moderation-approve:hover {
    background-color: #118400;
    color: #ffffff;
}

p.description {
    font-weight: bold;
    font-size: larger;
    padding: 12px 20px;
    margin: 5px;
}
span.title {
    color: blue;
}

div.signup {
    margin-top: 90px;
    font-size: larger;
    text-align: center;
}
div.signin {
    margin-top: 50px;
    font-size: larger;
    text-align: center;
}
div.moderation-block {
    padding: 12px 20px;
    padding-top: 0;
    margin: 15px;
    border: 5px solid;
    border-radius: 12px;
    border-color: #FF8959;
}
div.logo {
    padding: 0;
    margin: 0;
}
div.pictures-wrapper {

}
div.offer {
    padding: 10px 10px;
    padding-top: 0;
    margin: 10px;
    border: 2px solid;
    border-radius: 12px;
    border-color: #FF8959;
}
div.offer-price {
    font-family: sans-serif;
}
image.profile-logo {
    padding: 0;
    margin: 0;
}
#profile-logo {
    padding: 2px;
    padding-bottom: 0;
    margin: 0;
}
input {
    padding: 4px;
    margin: 5px;
    border-radius: 12px;
}
h1 {
    margin: 20px;
}

input[type=text], input[type=password], input[type=number] {
    width: 80%;
    padding: 12px 20px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login {

}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/
